<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8G8sTy84DK5CKfro-QAIJ2AWjLbf34uc</string>
	<key>GCM_SENDER_ID</key>
	<string>219924415709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjp.dhmv1</string>
	<key>PROJECT_ID</key>
	<string>dungeon-hero-maker</string>
	<key>STORAGE_BUCKET</key>
	<string>dungeon-hero-maker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219924415709:ios:60e29cc6aedf7c106ec734</string>
</dict>
</plist>